rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    match /pedidos/{pedidoId} {
      allow create, read, update, delete: if true;
    }

    match /avaliacoes/{avaliacaoId} {
      allow read, create: if true;
    }

    match /admins/{adminId} {
      allow read, write: if true;
    }

    match /mail/{document} {
      allow read, write: if true;
    }

  }

}
